.backdrop-order {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 99, 99, 0.7);
}

.backdrop-order.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.order-modal {
  position: relative;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 20px;

  width: 320px;
  min-height: 449px;
  background-color: #ffe550;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  opacity: 1;

  @media screen and (min-width: 768px) {
    width: 458px;
  }

  &__btn {
    position: absolute;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: transparent;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    cursor: pointer;
  }

  &__icon {
    fill: #2c2c2c;
  }
}

.backdrop-order.is-hidden .order-modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
}

.order-form {
  text-align: center;

  &__title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29 / 24);
    color: #2c2c2c;
  }

    &__label {
    display: block;
    text-align: left;
    margin-bottom: 2px;
    padding-left: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(22 / 16);
    color: #2c2c2c;
  }

  &__input {
    padding-left: 12px;
    width: 100%;
    height: 48px;
    background: #ffffff;
    border: 1px solid #7eb101;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-bottom: 24px;

    &::placeholder {
    
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: calc(20 / 16);
            color: #C4C4C4;
        }
  }
}


.order-btn {
  width: 106px;
  padding: 10px 38px;
  font-weight: 500;
  font-size: 13px;
  line-height: calc(20 / 13);
  color: #2c2c2c;
  background: #ffffff;
  border: 2px solid #7eb101;
  border-radius: 30px;

  &:hover,
  :focus {
    background: #BBF330;
    border: 2px solid #7EB101;
  }
}
