.offerings{
    @extend %container;
    @extend %section;
}
.container{
    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
// apple svg
// .offerings__ellips{

// }
// .offerings__blur{

// }
.offerings__bg{
    width: 502px;
    height: 502px;
    background: #fff;
}
// all text
.offerings__title{
    padding-top: 110px;
    margin-bottom: 20px;

    font-family:var(--main-font);
    font-size: 42px;
    line-height: 0.47;
    color: var(--main-txt-color);
}
.offerings__text{
    width: 500px;
    height: 72px;
    padding-top: 20px;
    margin-bottom: 40px;

    font-family: var(--main-font);
    font-size: 16px;
    line-height: 2.5;
    color: var(--main-txt-color);
}
// .offerings__list{

// }
// .offerings__item{

// }
.offerings__icon{
    padding-top: 40px;
    margin-bottom: 8px;
}
.offerings__name{
    margin-bottom: 16px;
}
.offerings__desc{
    margin-bottom: 32px;
}
.offerings__btn{
    width: 106px;
    height: 40px;
    margin-bottom: 100px;

    background: #FFFFFF;

    border: 2px solid #7EB101;
    border-radius: 30px
}






