%container {
  margin: 0 auto;
  padding: 0 16px;
  @media screen and (min-width: 480px) {
      width: 312px;
  }
  @media screen and (min-width: 768px) {
      width: 736px;
  }
  @media screen and (min-width: 1200px) {
      width: 1280px;
  }
}
