:root {
    --main-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Kalam', cursive;
    --main-txt-color: #2C2C2C;
    --accent-bg-color: #BBF330;
    --accent-txt-color: #7EB101;
    --accent-br-color: #FFE550;
    --bright-color: #B5FF00;
    --gradient-color: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
    --animation-hv-fcs: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}