<div class="burger__menu" data-menu>
    <div class="burger__container" data-menu-close>
        <button class="burger__btn">
            <svg class="burger__icon" width="24" height="24">
                <use class="burger-icon__close" href="./images/icons.svg#burg-close"></use>
            </svg>
        </button>
        <nav class="burger__nav">
            <ul class="burger-nav__list">
                <li class="burger-nav__item">
                    <a href="#home" class="burger-nav__link burger-nav__link--current">Home</a>
                </li>
                <li class="burger-nav__item">
                    <a href="#about" class="burger-nav__link">About</a>
                </li>
                <li class="burger-nav__item">
                    <a href="#service" class="burger-nav__link">Service</a>
                </li>
                <li class="burger-nav__item">
                    <a href="#menu" class="burger-nav__link">Menu</a>
                </li>
                <li class="burger-nav__item">
                    <a href="#contacts" class="burger-nav__link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>