<section class="customers">
  <div class="container__overlay">
    <h2 class="customers__titel">What our Customers Say</h2>
    <p class="customers__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__list">
      <li class="customers__item">
        <svg class="customers__icon" width="100" height="16">
          <use href="/src/images/icons.svg#stars"></use>
        </svg>
        <p class="customers__desc">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers__container">
          <img
            class="customer__img"
            srcset="
              ./images/customers-say/img-1-48.png 1x,
              ./images/customers-say/img-1-96.png 2x
            "
            src="./images/customers-say/img-1-48.png"
            alt="man"
            width="48px"
            height="48px"
          />
          <div class="customer__wrap">
            <h3 class="customer__subtitel">Sumith Shah</h3>
            <p class="customer__subtext">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="customers__item">
        <svg class="customers__icon" width="100px" height="16px">
          <use href="./images/icons.svg#stars"></use>
        </svg>
        <p class="customers__desc">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customers__container">
          <img
            class="customer__img"
            srcset="
              ./images/customers-say/img-2-48.png 1x,
              ./images/customers-say/img-2-96.png 2x
            "
            src="./images/customers-say/img-2-48.png "
            alt="woman"
            width="48px"
            height="48px"
          />
          <div class="customer__wrap">
            <h3 class="customer__subtitel">Sumith Shah</h3>
            <p class="customer__subtext">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
