<section class="customers">
  <h2 class="customers__titel">What our Customers Say</h2>
  <p class="customers__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <ul class="customers__list">
    <li class="customers__item">
      <svg class="customers__icon" width="100px" height="16px">
        <use href="./images/icons.svg#stars"></use>
      </svg>
      <p>
        “The Best app I have used to order food in a while, so many options to
        choose from too, I would recommend to a freind, No questions asked”
      </p>
      <img
        class="customer__img"
        src="./images/customers-say/img-1-48.png"
        alt="man"
        width="48px"
        height="48px"
      />
      <h3 class="customer__subtitel">Sumith Shah</h3>
      <p class="">Some Dude</p>
    </li>
    <li>
      <svg class="customers__icon" width="100px" height="16px">
        <use href="./images/icons.svg#stars"></use>
        <p>
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <img src="" alt="">
      </svg>
    </li>
  </ul>
</section>
