<section class="favorites" id="menu">
    <div class="favorites__container">
        <h2 class="favorites__titel">Some of Our Favorites</h2>
        <p class="favorites__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>

        <ul class="favorites__list">
            <li class="favorites__item">
                <picture>
                    <source srcset="
              ./images/favorites/img-1-223.png 223w,
              ./images/favorites/img-1-446.png 446w
            " media="(max-width: 767.98px)" sizes="(min-width: 320px) 223px, 100vw" />
                    <source srcset="
              ./images/favorites/img-1-268.png 268w,
              ./images/favorites/img-1-536.png 536w
            " media="(max-width: 1279px)" sizes="(min-width: 768px) 268px, 100vw" />
                    <source srcset="
              ./images/favorites/img-1-315.png 315w,
              ./images/favorites/img-1-630.png 630w
            " media="(min-width: 1280px)" sizes="(min-width: 1280px) 315px, 100vw" />
                    <img src="./images/favorites/img-1-223.png" alt="Gamburger" />
                </picture>
            </li>

            <li class="favorites__item">
                <picture>
                    <source srcset="
              ./images/favorites/img-2-223.png 223w,
              ./images/favorites/img-2-446.png 446w
            " media="(max-width: 767.98px)" sizes="(min-width: 320px) 450px, 100vw" />
                    <source srcset="
              ./images/favorites/img-2-268.png 268w,
              ./images/favorites/img-2-536.png 536w
            " media="(max-width: 1279px)" sizes="(min-width: 768px) 354px, 100vw" />
                    <source srcset="
              ./images/favorites/img-2-315.png 315w,
              ./images/favorites/img-2-630.png 630w
            " media="(min-width: 1280px)" sizes="(min-width: 1280px) 315px, 100vw" />
                    <img src="./images/favorites/img-1-223.png" alt="Pasta" />
                </picture>
            </li>

            <li class="favorites__item">
                <picture>
                    <source srcset="
              ./images/favorites/img-3-223.png 223w,
              ./images/favorites/img-3-446.png 446w
            " media="(max-width: 767.98px)" sizes="(min-width: 320px) 450px, 100vw" />
                    <source srcset="
              ./images/favorites/img-3-268.png 268w,
              ./images/favorites/img-3-536.png 536w
            " media="(max-width: 1279px)" sizes="(min-width: 768px) 354px, 100vw" />
                    <source srcset="
              ./images/favorites/img-3-315.png 315w,
              ./images/favorites/img-3-630.png 630w
            " media="(min-width: 1280px)" sizes="(min-width: 1280px) 315px, 100vw" />
                    <img src="./images/favorites/img-1-223.png" alt="Pizza" />
                </picture>
            </li>

            <li class="favorites__item favorites__item--none">
                <picture>
                    <source srcset="
              ./images/favorites/img-4-268.png 268w,
              ./images/favorites/img-4-536.png 536w
            " media="(max-width: 1279px)" sizes="(min-width: 768px) 354px, 100vw" />
                    <source srcset="
              ./images/favorites/img-4-315.png 315w,
              ./images/favorites/img-4-630.png 630w
            " media="(min-width: 1280px)" sizes="(min-width: 1280px) 315px, 100vw" />
                    <img src="./images/favorites/img-1-223.png" alt="Chicken" />
                </picture>
            </li>

            <li class="favorites__item favorites__item--none">
                <picture>
                    <source srcset="
              ./images/favorites/img-5-268.png 268w,
              ./images/favorites/img-5-536.png 536w
            " media="(max-width: 1279px)" sizes="(min-width: 768px) 354px, 100vw" />
                    <source srcset="
              ./images/favorites/img-5-315.png 315w,
              ./images/favorites/img-5-630.png 630w
            " media="(min-width: 1280px)" sizes="(min-width: 1280px) 315px, 100vw" />
                    <img src="./images/favorites/img-1-223.png" alt="Salat" />
                </picture>
            </li>

            <li class="favorites__item favorites__item--none">
                <picture>
                    <source srcset="
              ./images/favorites/img-6-268.png 268w,
              ./images/favorites/img-6-536.png 536w
            " media="(max-width: 1279px)" sizes="(min-width: 768px) 354px, 100vw" />
                    <source srcset="
              ./images/favorites/img-6-315.png 315w,
              ./images/favorites/img-6-630.png 630w
            " media="(min-width: 1280px)" sizes="(min-width: 1280px) 315px, 100vw" />
                    <img src="./images/favorites/img-1-223.png" alt="Borshch" />
                </picture>
            </li>
        </ul>
    </div>
</section>