<footer id="contacts" class="footer">
  <div class="footer__container">
    <div class="desctop__wrap">
      <div class="footer__wrap">
        <a class="footer__logo" href="">
          <svg class="logo__icon" width="69" height="51">
            <use href="/src/images/icons.svg#logo"></use>
          </svg>
        </a>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link footer__link--current" href="">Home</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="">About</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="">Service</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="">Menu</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="">Contact</a>
          </li>
        </ul>
      </div>
      <div class="right__wrap">
        <h2 class="footer__titel">Subscribe</h2>
        <form class="footer__form">
          <div class="form__wrap">
            <input
              class="form__input"
              name="E-mail"
              type="email"
              placeholder="Enter your email"
              required
            />

            <svg class="subscribe-form-icon" width="12" height="12">
              <use class="warning-icon" href="./images/icons.svg#input"></use>
            </svg>
            <span class="subscribe-form-error"
              >Not a valid email address (example@email.com)</span
            >

            <button class="footer__button" type="submit">Subscribe</button>
          </div>
          <a class="privacy__link" href=""
            >By subscribing you agree to with our
            <span class="privacy__color">Privacy Policy</span>
          </a>
        </form>
      </div>
    </div>
    <div class="information__wrap">
      <ul class="information__list">
        <li class="information__item">
          <a class="information__link" href="">Privacy Policy</a>
        </li>
        <li class="information__item">
          <a class="information__link" href="">Terms of Service</a>
        </li>
        <li class="information__item">
          <a class="information__link" href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="copyright__text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
