<header class="header">
    <div class="header__container">
        <a class="header__logo href="">
            <svg class=" logo__icon" width="66" height="52">
            <use href="./images/icons.svg#logo"></use>
            </svg>
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="" class="nav__link nav__link--current">Home</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">About</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Service</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Menu</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Contact</a>
                </li>
            </ul>
            <button class="nav__btn" type="button">Order Now</button>
        </nav>
        <button class="btn__mobile" type="button" aria-expanded="false" data-menu-open>
            <svg class="icon__menu-mobile" widht="23" heigt="16">
                <use href="./images/icons.svg#burger-menu"></use>
            </svg>
        </button>
    </div>
</header>

<div class="burger__menu" data-menu>
    <div class="burger__container" data-menu-close>
        <button class="burger__btn">
            <svg class="burger__icon" widht="24" heigt="24">
                <use class="burger-icon__close" href="./images/icons.svg#burg-close"></use>
            </svg>
        </button>
        <nav class="burger__nav">
            <ul class="burger-nav__list">
                <li class="burger-nav__item">
                    <a href="" class="burger-nav__link burger-nav__link--current">Home</a>
                </li>
                <li class="burger-nav__item">
                    <a href="" class="burger-nav__link">About</a>
                </li>
                <li class="burger-nav__item">
                    <a href="" class="burger-nav__link">Service</a>
                </li>
                <li class="burger-nav__item">
                    <a href="" class="burger-nav__link">Menu</a>
                </li>
                <li class="burger-nav__item">
                    <a href="" class="burger-nav__link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>