<section class="hero">
  <div class="hero-container">
    <div class="hero-wrap">
      <h1 class="hero__wrap-title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__wrap-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="hero__wrap-btn" type="button" data-modal-open>
        Order Now
      </button>
    </div>

    <div class="slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              class="hero-img"
              srcset="
                ./images/hero/img-1-292.png   292w,
                ./images/hero/img-1-528.png   528w,
                ./images/hero/img-1-584.png   584w,
                ./images/hero/img-1-1056.png 1056w
              "
              sizes="(min-width: 1280px) 584px, (min-width: 768px) 292px"
              src="./images/hero/img-1-292.png"
              alt="Food photo"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="hero-img"
              srcset="
                ./images/hero/img-2-292.png   292w,
                ./images/hero/img-2-528.png   528w,
                ./images/hero/img-2-584.png   584w,
                ./images/hero/img-2-1056.png 1056w
              "
              sizes="(min-width: 1280px) 584px, (min-width: 768px) 292px"
              src="./images/hero/img-2-292.png"
              alt="Food photo"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="hero-img"
              srcset="
                ./images/hero/img-3-292.png   292w,
                ./images/hero/img-3-528.png   528w,
                ./images/hero/img-3-584.png   584w,
                ./images/hero/img-3-1056.png 1056w
              "
              sizes="(min-width: 1280px) 584px, (min-width: 768px) 292px"
              src="./images/hero/img-3-292.png"
              alt="Food photo"
            />
          </div>
        </div>
      </div>

      <button class="slider__btn swiper-button-prev" type="button">
        <svg width="11" height="20" class="slider__icon">
          <use href="./images/icons.svg#left-black"></use>
        </svg>
      </button>
      <button class="slider__btn swiper-button-next" type="button">
        <svg width="11" height="20" class="slider__icon">
          <use href="./images/icons.svg#righr-black"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
