<div class="backdrop-order is-hidden" data-modal>
    <div class="order__modal">
        <div class="order_modal__bottom">
            <button class="order-modal__btn" type="button" data-modal-close>close</button>
            <form class="order-form">
                <strong class="order-form__title">Order form</strong>
                <div class="order-form__group" role="group">
                    <label class="order-form__wrap">
                        <span class="order-form__label">Name</span>
                        <input class="order-form__input" type="text" name="user-name" required minlength="3" />
                    </label>
                    <label class="order-form__wrap">
                        <span class="order-form__label">Phone number</span>
                        <input class="order-form__input" type="text" name="user-phone" required minlength="3" />
                    </label>
                </div>

                <label class="order-form__wrap">
                    <span class="order-form__label">Delivery address</span>
                    <input class="order-form__input" type="text" name="user-address" required
                        placeholder="Streer Address" />
                </label>
                <label class="order-form__wrap">
                    <input class="order-form__input" type="text" name="user-city" required placeholder="City" />
                </label>
                <label class="order-form__wrap">
                    <input class="order-form__input" type="text" name="user-street" required placeholder="Street" />
                </label>

        </div>
        <button class="order__btn" type="submit">Order Now</button>
        </form>
    </div>
</div>