<section class="offerings offerings__overlay">
  <div class="offerings__container">
    <ul class="apple__list">
      <li class="apple__item">
        <img
          class="apple__big"
          srcset="
            /src/images/offerings/apple-201w.png,
            /src/images/offerings/apple-257w.png,
            /src/images/offerings/apple-396w.png,
            /src/images/offerings/apple-403w.png,
            /src/images/offerings/apple-514w.png,
            /src/images/offerings/apple-792w.png
          "
          sizes="(min-width:1280px) 396px,(min-width:767px) 257px,(min-width:320px) 201px "
          src="/src/images/offerings/apple-396w.png"
          alt="big apple"
          width="396px"
          height="502px"
        />
      </li>
      <li class="apple__item">
        <img
          class="apple__medium"
          src="./images/offerings/apple-tablet-2-166w.png"
          alt="medium apple"
          width="166px"
          height="210px"
        />
      </li>
      <li class="apple__item">
        <img
          class="apple__small"
          src="./images/offerings/apple-tablet-3-108w.png"
          alt="small apple"
          width="108px"
          height="136px"
        />
      </li>
    </ul>
    <h2 class="offerings__titel">What&#10076;s Special About Our Offerings</h2>
    <p class="offerings__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <div class="offerings__wrap">
      <div class="offerings__box">
        <div class="bax__icon">
          <svg class="offerings__box--icon" width="32" height="32">
            <use href="/src/images/icons.svg#rocket"></use>
          </svg>
        </div>
        <h3 class="offerings__box--titel">Fasest Delivery</h3>
        <p class="offerings__box--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </div>
      <div class="offerings__box">
        <div class="bax__icon">
          <svg class="offerings__box--icon" width="32" height="32">
            <use href="/src/images/icons.svg#touch-app"></use>
          </svg>
        </div>
        <h3 class="offerings__box--titel">Easy To Order</h3>
        <p class="offerings__box--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </div>
    </div>
    <div class="container__link">
      <button class="offerings__btn" type="button">OrderNow</button>
      <a class="offerings__link" href=""
        >Read More
        <svg class="offerings__link--icon" width="14" height="14">
          <use href="/src/images/icons.svg#chevron-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
