<section class="offerings offerings__overlay">
  <div class="offerings__container">
    <ul>
      <li>
        <img
          src="./images/offerings/apple-396.png"
          alt="big apple"
          width="396px"
          height="502px"
        />
      </li>
      <li>
        <img
          src="./images/offerings/apple-tablet-2-166.png"
          alt="medium apple"
          width="166px"
          height="210px"
        />
      </li>
      <li>
        <img
          src="./images/offerings/apple-tablet-3-108.png"
          alt="small apple"
          width="108px"
          height="136px"
        />
      </li>
    </ul>
    <h2>Whats Special About Our Offerings</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <svg class="" width="32" height="32">
      <use href="/src/images/icons.svg#rocket"></use>
      <h3></h3>
    </svg>
  </div>
</section>
