<section class="subscribe" id="contacts">
  <div class="subscribe__container">
    <div class="subscribe__text">
      <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
      <p class="subscribe__desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>

      <form class="subscribe-form">
        <input
          class="subscribe-form__input"
          type="email"
          name="E-mail"
          required
          placeholder="Enter your email"
        />

        <span class="subscribe-form-error">
          <svg class="subscribe-form-icon" width="12" height="12">
            <use class="warning-icon" href="./images/icons.svg#input"></use>
          </svg>
          Not a valid email address (example@email.com)</span
        >

        <button class="subscribe-button" type="submit">
          <span class="subscribe-button__text">Subscribe</span>
        </button>
      </form>
    </div>
  </div>
</section>
