<section class="subscribe" id="contacts">
  <div class="subscribe__container">
    <div>
      <picture class="subscribe__img">
        <source srcset="
            ./images/subscribe/banan-3-161.png 1x,
            ./images/subscribe/banan-3-322.png 2x
          " media="(max-width: 767px)" sizes="(min-width: 320px) 161px, 100vw" />

        <source srcset="
            ./images/subscribe/banan-2-281.png 1x,
            ./images/subscribe/banan-2-562.png 2x
          " media="(max-width: 1279px)" sizes="(min-width: 768px) 281px, 100vw" />

        <source srcset="
            ./images/subscribe/banan-1-546.png  1x,
            ./images/subscribe/banan-1-1092.png 2x
          " media="(max-width: 1280px)" sizes="(min-width: 1280px) 546px, 100vw" />

        <img src="./images/subscribe/banan-1-546.png" alt="a picture of a banana" />
      </picture>
    </div>

    <div>
      <div class="subscribe__text">
        <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
        <p class="subscribe__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </div>
      <form class="subscribe-form">
        <input class="subscribe-form__input" type="email" name="E-mail" required placeholder="Enter your email" />
        <svg class="subscribe-form-icon" width="12" height="12">
          <use class="warning-icon" href="./images/icons.svg#input"></use>
        </svg>
        <span class="subscribe-form-error">Not a valid email address (example@email.com)</span>

        <button class="subscribe-button" type="submit">
          <span class="subscribe-button__text">Subscribe</span>
        </button>
      </form>
    </div>
  </div>
</section>