<section class="subscribe">
  <img srcset="
      ./images/subscribe/banan-1-546.png   546w,
      ./images/subscribe/banan-1-1092.png 1092w,
      ./images/subscribe/banan-2-281.png   281w,
      ./images/subscribe/banan-2-562.png   562w,
      ./images/subscribe/banan-3-161.png   161w,
      ./images/subscribe/banan-3-322.png   322w
    " src="./images/subscribe/banan-1-1092.png" sizes="(min-width: 1280px) 546px, (min-width: 768px) 281px, 100vw"
    alt="A picture of a banana" width="546" />
  <h1>Subscribe To Get Special Offers</h1>
</section>